:root {
--text-color: #F3F3F3;
}
body { font-family: 'Montserrat', sans-serif;
    background-color: #C9C9C9;}

ul {list-style-type:none;}

p { font-family: inherit, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:1.25;
    color: var(--text-color);
}
.container{
    width: 447px;
    height: 519px;
    margin-left: 85px;
}
.title{
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    color: #F3F3F3;
    margin: 0 auto;}
.line{
    position: relative;
}
.line::before{
    content: "";
    position: absolute;
    border: 1px solid #F3F3F3;
    height: 153px;
    top: 3px;
    left: -12px;
}
.motto {
    font-weight: 800;
    color:rgba(188, 26, 26, 0.71);
}
.second-text{
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2;
    color: var(--text-color);
}
.table{
    display: block;
    align-items: center;
    justify-content: center;
}

.btn {
    font-family: inherit, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.23;
    color:var(--text-color);
    background-color: rgba(188, 26, 26, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 26px 116px;
    gap: 10px;
    border-radius: 16px;
    border:none;
}
.btn:is(:hover:focus){
    background-color: #d50505b7;
}
.number{ 
    
    font-family: inherit, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: var(--text-color);
}
.section {background-image: linear-gradient(228.52deg, rgba(111, 102, 102, 0.9) 4.71%, rgba(16, 15, 15, 0.9) 39.77%, rgba(16, 15, 15, 0.9) 44.21%);;
    padding-top: 72px;
    padding-bottom: 145.5px;
}